# The MySQL  Client configuration file.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

[mysql]
local-infile=1

[mysqld]
sql-mode="STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION"
character-set-server=utf8
default-authentication-plugin=mysql_native_password

# Accept connections from any IP address
bind-address=0.0.0.0

# Enable slow-query-log: 1 or Disable 0
slow-query-log = 0
slow-query-log-file = /var/log/mysql/mysql-slow.log
long_query_time = 0.1
log-queries-not-using-indexes = 1
local-infile=1
